.header {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    background-color: #272727;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 0;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    border-bottom: 2px solid #28aa4a;

    .logoBox {
        position: relative;
    }
}

.stickHeaderShown {
    z-index: 999;
    opacity: 1;
    visibility: visible;
    -ms-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -op-animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -ms-animation-duration: 500ms;
    -moz-animation-duration: 500ms;
    -op-animation-duration: 500ms;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -ms-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -op-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -ms-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -op-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.outerBox {
    position: relative;
    border-bottom: none;
    padding: 0px 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.listItem {
    position: inherit;
    float: left;
    z-index: 2;
    padding: 27px 0px 30px 0px;
    margin: 0px 22px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;

    .anchor {
        position: relative;
        display: block;
        text-align: center;
        font-size: 16px;
        line-height: 30px;
        font-weight: 500;
        opacity: 1;
        color: #fff;
        z-index: 1;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;

        &:hover {
            color: #28aa4a;
        }
    }
}

.active {
    .anchor {
        color: #28aa4a;
    }
}

.dropdown {
    position: absolute;
    left: inherit;
    top: 100%;
    width: 250px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    background: #272727;
    padding: 10px 0px;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -webkit-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;

    .dropdownItem {
        padding: 0px 30px;

        .dropdownAnchor {
            position: relative;
            display: block;
            padding: 14px 0px;
            line-height: 24px;
            font-weight: 500;
            font-size: 16px;
            text-transform: capitalize;
            color: #fff;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            text-align: left;
            transition: all 500ms ease;
            -moz-transition: all 500ms ease;
            -webkit-transition: all 500ms ease;
            -ms-transition: all 500ms ease;
            -o-transition: all 500ms ease;

            &:hover {
                color: #28aa4a;
            }
        }

        &:last-child {
            .dropdownAnchor {
                border-bottom: none;
            }
        }

        &:nth-child(2n + 1) {
            -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
        }

        &:nth-child(2n + 2) {
            -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
        }

        &:nth-child(2n + 3) {
            -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
        }

        &:nth-child(2n + 4) {
            -webkit-transition-delay: 0.25s;
            transition-delay: 0.25s;
        }
    }
}

.dropdownBtn:hover > .dropdown {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    top: 100%;
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
}
