.mobileMenu {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    padding-right: 30px;
    max-width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 999999;

    &Visible {
        opacity: 1;
        visibility: visible;
    }
}

.menuBox {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    background: #202020;
    padding: 0px 0px;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    border-radius: 0px;
    -webkit-transform: translateX(101%);
    -ms-transform: translateX(101%);
    transform: translateX(101%);

    &Visible {
        opacity: 1;
        visibility: visible;
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -ms-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
}

.backdrop {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #28aa4a;
    -webkit-transform: translateX(101%);
    -ms-transform: translateX(101%);
    transform: translateX(101%);
    transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;

    &Visible {
        opacity: 0.7;
        visibility: visible;
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -ms-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
}

.navLogo {
    position: relative;
    padding: 50px 25px;
    text-align: left;
    padding-bottom: 100px;
}

.closeBtn {
    position: absolute;
    right: 25px;
    top: 10px;
    line-height: 30px;
    width: 24px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    z-index: 10;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -ms-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    transition: all 0.9s ease;

    &:hover {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    &Visible {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.contactInfo {
    position: relative;
    padding: 120px 30px 20px 30px;

    .contactTitle {
        position: relative;
        font-size: 20px;
        color: #ffffff;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .contactItem {
        position: relative;
        display: block;
        font-size: 15px;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 3px;
    }

    .anchor:hover {
        color: #28aa4a;
    }
}

.socialLinks {
    color: white;
    padding-left: 25px;

    .linkItem {
        padding: 10px;

        :hover {
            color: #28aa4a;
        }
    }
}

.nav {
    .list:last-child {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .listItem {
        position: relative;
        display: block;
        border-top: 1px solid rgba(255, 255, 255, 0.1);

        .anchor {
            position: relative;
            display: block;
            line-height: 24px;
            padding: 10px 25px;
            font-size: 15px;
            font-weight: 500;
            color: #ffffff;
            text-transform: uppercase;
            -webkit-transition: all 500ms ease;
            -moz-transition: all 500ms ease;
            -ms-transition: all 500ms ease;
            -o-transition: all 500ms ease;
            transition: all 500ms ease;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 0;
                border-left: 5px solid #fff;
                -webkit-transition: all 500ms ease;
                -moz-transition: all 500ms ease;
                -ms-transition: all 500ms ease;
                -o-transition: all 500ms ease;
                transition: all 500ms ease;
            }

            &:hover:before {
                height: 100%;
            }
        }
    }
}

.active {
    .anchor:before {
        height: 100% !important;
    }
}

.dropdownBtn {
    position: absolute;
    right: 6px;
    top: 6px;
    width: 32px;
    height: 32px;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    border-radius: 2px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 5;

    &Open {
        background: #fff;
        color: #3b3b3b;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

.dropdownItem {
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    .dropdownAnchor {
        position: relative;
        display: block;
        line-height: 24px;
        font-size: 15px;
        font-weight: 500;
        color: #ffffff;
        text-transform: uppercase;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
        padding: 10px 25px;
        padding-left: 45px !important;
    }
}
