.headerTop {
    position: relative;
    width: 100%;
    background: #272727;
    padding: 3px 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    .infoList .listItem {
        position: relative;
        display: inline-block;
        font-size: 14px;
        line-height: 24px;
        color: #a7a7a7;
        font-weight: 500;
        padding-left: 27px;
        margin-right: 25px;

        &:last-child {
            margin: 0px !important;
        }

        .anchor {
            color: #a7a7a7;

            &:hover {
                color: #28aa4a;
            }
        }

        .icon {
            position: absolute;
            left: 0px;
            top: 0px;
            font-size: 16px;
            color: #28aa4a;
        }
    }


    .socialLinks {
        position: relative;
        display: inline-block;
        margin-right: 40px;

        .listItem {
            position: relative;
            display: inline-block;
            margin-right: 20px;
    
            &:last-child {
                margin: 0px !important;
            }
    
            .anchor {
                display: inline-block;
                font-size: 14px;
                color: #a7a7a7;
    
                &:hover {
                    color: #28aa4a;
                }
            }
        }
    }
    
    .languageBox {
        position: relative;
        display: inline-block;
        padding-left: 30px;

        .image {
            position: absolute;
            left: 0px;
            top: 6px;
            width: 19px;
            height: 19px;
            border-radius: 50%;
        }

        .text {
            position: relative;
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            color: #a7a7a7;
            padding-right: 13px;

            &:before {
                position: absolute;
                content: '\f0dd';
                font-family: 'Font Awesome 5 Pro';
                font-size: 12px;
                top: -2px;
                right: 0px;
                font-weight: 700;
            }
        }


        .languageList {
            position: absolute;
            right: 0px;
            top: 50px;
            width: 150px;
            background: #282828;
            padding: 10px 20px;
            z-index: 2;
            opacity: 0;
            visibility: hidden;
            text-align: left;
            transition: all 500ms ease;
            border-top: 2px solid #28aa4a;
            z-index: 0;

            .listItem {
                position: relative;
                display: block;
                font-size: 14px;
                line-height: 24px;
                font-weight: 500;
                color: #a7a7a7;
                padding: 5px 0px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);

                &:hover {
                    color: #28aa4a;
                }
            }
        }

        &:hover .languageList {
            visibility: visible;
            opacity: 1;
            top: 35px;
            z-index: 100;
        }
    }
}
