.btn {
    width: 55px;
    height: 55px;
    line-height: 55px;
    position: fixed;
    bottom: 105%;
    right: 30px;
    font-size: 24px;
    z-index: 99;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    transition: 1s ease;
    background: #28aa4a;
}

.btnShown {
    bottom: 50px;
}
