@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 16px;
    color: #757575;
    line-height: 32px;
    font-weight: 400;
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-font-smoothing: antialiased;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
        padding: 0px 15px;
    }
}

a {
    text-decoration: none;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

a:hover {
    text-decoration: none;
    outline: none;
}

input,
button,
select,
textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

p {
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: #757575;
    font-weight: 400;
    margin: 0px;
    transition: all 500ms ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #222222;
    margin: 0px;
    transition: all 500ms ease;
}
